grant { permission java.net.SocketPermission "193.61.28.101:*", "accept, connect";		
	    permission java.net.SocketPermission "192.168.0.1:80", "connect";
};